body {
  text-align: center;
}

h1 {
  font-family: sans-serif;
}
h2 {
  color: blueviolet;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
  color: rgb(39, 32, 46);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
